<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jlab.FileTransferServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <jlab.FileTransferServer.Properties.Settings>
            <setting name="AllTrace" serializeAs="String">
                <value>Todas</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value>Directorios</value>
            </setting>
            <setting name="Files" serializeAs="String">
                <value>Ficheros</value>
            </setting>
            <setting name="Thumbnails" serializeAs="String">
                <value>Miniaturas</value>
            </setting>
            <setting name="Index" serializeAs="String">
                <value>Indice</value>
            </setting>
            <setting name="Running" serializeAs="String">
                <value>Corriendo</value>
            </setting>
            <setting name="Stoped" serializeAs="String">
                <value>Detenido</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Configuración</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>Tamaño de Buffer</value>
            </setting>
            <setting name="StartServer" serializeAs="String">
                <value>Iniciar Servidor</value>
            </setting>
            <setting name="StopServer" serializeAs="String">
                <value>Detener Servidor</value>
            </setting>
            <setting name="LoadDir" serializeAs="String">
                <value>Cargar Directorio</value>
            </setting>
            <setting name="ThumbIndex" serializeAs="String">
                <value>Indice de Miniaturas</value>
            </setting>
            <setting name="CountTraceList" serializeAs="String">
                <value>Cant. Trazas a Listar</value>
            </setting>
            <setting name="Concurrence" serializeAs="String">
                <value>Concurrencia (Cant. Máx. a Servir en Paralelo)</value>
            </setting>
            <setting name="Create" serializeAs="String">
                <value>Crear</value>
            </setting>
            <setting name="Load" serializeAs="String">
                <value>Cargar</value>
            </setting>
            <setting name="PresImage" serializeAs="String">
                <value>Imagen de Presentación</value>
            </setting>
            <setting name="Close" serializeAs="String">
                <value>Salir</value>
            </setting>
            <setting name="Saving" serializeAs="String">
                <value>Guardar</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>Cancelar</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value>Opciones</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>Pregunta</value>
            </setting>
            <setting name="UpdateThumbIndex" serializeAs="String">
                <value>¿El directorio elegido ya posee índice de miniaturas, desea actualizar dicho índice?</value>
            </setting>
            <setting name="CreateThumbIndex" serializeAs="String">
                <value>¿El directorio elegido no posee índice de miniaturas, desea crear su índice?</value>
            </setting>
            <setting name="DirectoryToIndex" serializeAs="String">
                <value>Seleccione la Carpeta o Unidad a Indizar.</value>
            </setting>
            <setting name="DirectoryToShare" serializeAs="String">
                <value>Seleccione la Carpeta o Unidad que será compartida.</value>
            </setting>
            <setting name="TheDirectory" serializeAs="String">
                <value>El Directorio</value>
            </setting>
            <setting name="NotExist" serializeAs="String">
                <value>no existe</value>
            </setting>
            <setting name="Stop" serializeAs="String">
                <value>Detener</value>
            </setting>
            <setting name="Total" serializeAs="String">
                <value>Total</value>
            </setting>
            <setting name="Continue" serializeAs="String">
                <value>Continuar</value>
            </setting>
            <setting name="StopIndexCreation" serializeAs="String">
                <value>¿Desea detener la creación del índice?</value>
            </setting>
            <setting name="NotLoadPresImage" serializeAs="String">
                <value>No se pudo cargar la imagen de presentación, el fichero seleccionado no es una imagen.</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="RenamedThumb" serializeAs="String">
                <value>Miniatura renombrada para Fichero renombrado de</value>
            </setting>
            <setting name="UpdateThumb" serializeAs="String">
                <value>Miniatura actualizada para Fichero renombrado de</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="CreateThumb" serializeAs="String">
                <value>Miniatura creada para el Fichero</value>
            </setting>
            <setting name="DeleteThumb" serializeAs="String">
                <value>Miniatura eliminada para el antiguo Fichero</value>
            </setting>
            <setting name="ShareNotExist" serializeAs="String">
                <value>que desea compartir no existe.</value>
            </setting>
            <setting name="NotCanStartServer" serializeAs="String">
                <value>Imposible iniciar el Servidor.</value>
            </setting>
            <setting name="InvalidDir" serializeAs="String">
                <value>Directorio no válido</value>
            </setting>
            <setting name="CreatingThumbIndex" serializeAs="String">
                <value>Creando Indice de miniaturas...</value>
            </setting>
            <setting name="CreatingFinish" serializeAs="String">
                <value>Creación Finalizada.</value>
            </setting>
            <setting name="CreatingInterrupted" serializeAs="String">
                <value>Creación Interrumpida.</value>
            </setting>
            <setting name="Deleting" serializeAs="String">
                <value>Eliminando</value>
            </setting>
            <setting name="All" serializeAs="String">
                <value>todas</value>
            </setting>
            <setting name="ForDirectory" serializeAs="String">
                <value>para directorio</value>
            </setting>
            <setting name="DeletingFinished" serializeAs="String">
                <value>Eliminación completada</value>
            </setting>
            <setting name="AddedThumb" serializeAs="String">
                <value>Miniatura añadida para fichero</value>
            </setting>
            <setting name="PortChange" serializeAs="String">
                <value>El puerto del servidor cambia con esta configuración, para completar debe reiniciar el Servidor, ¿desea continuar?</value>
            </setting>
            <setting name="ClosingMsg" serializeAs="String">
                <value>¿Está seguro que desea cerrar la aplicación?</value>
            </setting>
        </jlab.FileTransferServer.Properties.Settings>
    </userSettings>
</configuration>
